body {
    font-family: sans-serif;
    background: white;
    color: black;
}

a {
    color: #005;
}

a:visited {
    color: #505;
}

header {
    display: flex;
    flex-wrap: wrap;
    max-width: 53rem;
    width: calc(100vw - 3rem);
}

header h1,
header nav {
    margin: 0 0 1rem 0;
}

header h1 {
    flex-grow: 1;
}

header nav ul {
    margin: 0;
}

fieldset {
    border: none;
}

button, input {
    border: 1px solid black;
    background: #eee;
    color: black;
}

p, form, button, input {
    font-size: 1.5rem;
}

form span, button, input {
    padding: 0.3rem;
}

form#create-account input,
form#login input {
    max-width: calc(100vw - 4rem);
}

#valid-name,
#valid-password,
#valid-newPassword {
    display: inline-block;
    width: 1rem;
    padding: 0.2rem 0.3rem;
}

button#add-task {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 0;
}

#tasks ul {
    display: table-row;
    font-size: 1.5rem;
}

#tasks button {
    height: 2.5rem;
    width: 2.5rem;
}

#tasks input {
    max-width: 50rem;
    width: calc(100vw - 6rem);
}

#tasks li {
    display: flex;
    flex-wrap: nowrap;
}

#tasks li:hover {
    outline: 5px outset black;
}

@media print {
    h1,
    button,
    nav,
    #tasks li:first-child {
        display: none;
    }

    input {
        background: white;
        color: black;
        border: none;
    }

    #tasks ul {
        display: block;
        list-style-type: "☐";
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }

    a {
        color: #aaf;
    }

    a:visited {
        color: #faf;
    }

    button, input {
        border-color: white;
        background: #222;
        color: white;
    }

    #tasks li:hover {
        outline-color: white;
    }
}
